.main-table{
    
   display: table;
    width: 200%;
    margin:auto;   
}

.main-table .row:nth-child(even){
    background-color:aqua;
        
}
.row{
    
    display:table-row;
}
.row:hover{
    
    background-color: blueviolet !important;
    color:#f5f3f3;
}
.th{
    
    font-weight: bold;
    background-color: coral;
    color:#f7f6f6;
}

.value{
    
    display: table-cell;
    padding: 15px;
    border: 1px solid #ddd;
    text-align-last: center;
}