@keyframes fistAnim{
    
    from{
       color:darkgreen;
        
    }
    to{
        
       color:red;
       transform: perspective(500px) rotateX(60deg);
    }
       
}

#text{
    
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:darkgreen;
    animation-name: fistAnim;
    transition-duration:3s;
    
}