p{
    
    width: 500px;
    height: auto;
    margin:50px;
    padding:10px;
    
}
#borderimg1{
    border :20px solid transparent;
    border-image: url(border.png) 30 20 stretch;
    
}
#borderimg2{
    border :20px solid transparent;
    border-image: url(border.png) 30% space;
    
}