#box{
    width: 1200px;
    height: 400px;
    background-color: coral;
    /*perspective: 500px;
    perspective-origin: right;*/
    
}
img{
    
    transition: 1s;
   /* transform:  perspective(500px) translateZ(200px);
    transform: perspective(500px) rotate3d(100,700,100,180deg);
    transform-origin: left;
       transform:perspective(500px) scaleZ(2) translateZ(100px);*/
    margin:50px;
    transform:perspective(500px) scale3d(2,1,1)translateZ(100px);
   
    
}
img:hover{
    
    
  /* transform: perspective(0 )rotateY(-40deg) translate3d(300px,200px,200px);*/
    
}